.footer {
  border-top: 1px solid var(--pale-text-color);

  // .footer__flex
  &__flex {
    display: flex;
    flex-direction: column;
  }
  // .footer__main
  &__main {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 1px solid var(--pale-text-color);

    @include mobile {
      padding: 20px 0;
    }
  }
  // .footer__logo
  &__logo {
  }
  // .footer__text
  &__text {
    max-width: 320px;
    color: var(--pale-text-color);
    line-height: 30px;
    font-size: 18px;
  }
  // .footer__bottom
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 42px;
    margin-left: -18px;

    @include tablet {
      flex-direction: column;
      gap: 24px;
      margin-left: 0;
    }
    @include mobile {
      padding: 20px 0;
    }
  }
  // .footer__links
  &__links {
    list-style: none;
    display: flex;
    font-size: 18px;
  }
  // .footer__copy
  &__copy {
    color: var(--pale-text-color);
    text-align: center;
    line-height: 30px;
  }
  // .footer__link
  &__link {
    color: var(--light-color);
    text-decoration: underline;
  }
  // .footer__sosials
  &__sosials {
    list-style: none;
    display: flex;
    gap: 16px;
  }
}

.facebook {
}
.twitter {
}
.linkedIn {
}
