.subscription__slide {
  background: var(--card-bg-color);
  max-width: 620px;
  border-radius: 12px;

  opacity: 0.6;

  &.active {
    opacity: 1;
  }
}

.subscription {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  &__title {
    font-family: 'IBold';
    font-size: 54px;
    line-height: 64px;
  }

  &__cards {
    margin-bottom: 120px;
  }
}

.slider-nav {
  // z-index: 2;
  // position: absolute;
  // bottom: 0;
  // left: 50%;
  // transform: translateX(-50%);
  margin-top: 24px;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  gap: 12px;
  align-items: center;

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--gray-color);
    border-radius: 12px;
    cursor: pointer;

    &.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  &__arrow-left {
    transform: rotate(180deg);
  }

  &__counter {
    font-family: 'IBold';
    font-size: 22px;
    line-height: 28px;
  }
  &__counter-total {
    color: var(--gray-color);
  }
}
