.subscription__slide {
  background: var(--card-bg-color);
  max-width: 620px;
  border-radius: 12px;

  opacity: 0.6;

  &.active {
    opacity: 1;
  }
}

.subscriptions {
  margin-bottom: 120px;
}

.subscription {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  &__title {
    font-family: 'IBold';
    font-size: 54px;
    line-height: 64px;
  }

  &__cards {
  }

  &__hold {
    margin-top: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-text {
      font-family: 'IBold';
      font-weight: 700;
      font-size: 20px;
    }

    &-btn {
    }
  }
  &__no-card {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .cross {
      margin-bottom: 24px;
    }
  }
}

.no-card {
  &__title {
    font-family: 'IBold';
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-bottom: 32px;
    max-width: 260px;
    font-family: 'IMed';
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
  }
}

.slider-nav {
  // z-index: 2;
  // position: absolute;
  // bottom: 0;
  // left: 50%;
  // transform: translateX(-50%);
  margin-top: 24px;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  gap: 12px;
  align-items: center;

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--gray-color);
    border-radius: 12px;
    cursor: pointer;

    &.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  &__arrow-left {
    transform: rotate(180deg);
  }

  &__counter {
    font-family: 'IBold';
    font-size: 22px;
    line-height: 28px;
  }
  &__counter-total {
    color: var(--gray-color);
  }
}
